@import "~bootstrap/scss/bootstrap";
@import "bootstrap";
/* update your 'styles.css' with */
@import '~bootstrap/dist/css/bootstrap.css';


body {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.button{
  margin-top: -2.7em;
  margin-left: 6.5em;
}
.icon{
  width: 50px;
  height: 50px;
}

ion-title{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
}

.icons{
  margin-left: 15%;
  margin-top: 10%;
  width: 90px;
  height: 90px;
 
}

.data{
  font-size: 30px;
  font-weight: 400;
  text-align: right;
  font-family:  Tahoma, Helvetica, Arial, Sans-Serif;
  margin-bottom: 1em;

  
}


  
  ion-tab-button{
    font-size: 15px;
  --background-focused: #4169E1;
  --color-selected: #4169E1;
  --padding-end: 0px;
  --padding-start: 10px;
  --padding-bottom: 0px;
  --margin-left:0px;
  --margin-right:0px;
  }
  
  ion-tab-button:focus {
    ion-icon, ion-label {
        color: var(--ion-color-primary) !important;
        --ion-color-base: var(--ion-color-primary) !important;
    }
  }
