<ion-header>
  <ion-toolbar>
    <ion-title>Kitchen</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- <ion-card class="welcome-card">
    <img src="/assets/test.jpg" alt="" />  
  </ion-card> -->

  


    <div class="displayumid">Umiditate: {{umiditatea3}}%</div>
    <div class="displaytemp">Temperatura: {{temperatura3}}°C</div>
    <div class="displaygaz">Nivelul de gaz: {{nivelGaz3}}</div>


    
   <!-- <div class="bottomright" >
     <div class="lumina">Lumina</div>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    </div> -->

    <label class='toggle-label'>
      <input type='checkbox'/>
        <span class='back'>
         <span class='toggle'></span>
          <span class='label on' (click)="switchOn()">ON</span>
          <span class='label off' (click)="switchOff()">OFF</span>
         <!-- <span class='label off' onclick()>OFF</span>   -->
       </span>
     </label>


</ion-content>
