<ion-header>
  <ion-toolbar>
    <ion-title>Kitchen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  

    <span class="badge badge-primary" style="width: 40%">Humidity</span>
  <div class="progress-bar blue stripes">
    <span role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></span>
</div>

<span class="badge badge-danger">Temperature</span>
<div class="progress-bar red stripes">
  <span style="width: 50%"></span>
</div>
<br/>


  <img src="/assets/On.png">
</ion-content>
