.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  div {
    position: relative;
    width:200px;
    margin:auto;
    margin-top:10%;
    
  
  }
  
  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  ion-card{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
  }
  
  ion-button{
    width:200px;
  }
  
  h1{
    display: block;
  font-size: 2em;
  
  margin-top: 20%;
  margin-left: 28%;
  margin-right: 0;
  font-weight: bold;
  }
  
  img{
      margin-left: 10%;
      margin-top: 5%;
  }

  .progress-bar {
    
    background-color: #1a1a1a;
    height: 25px;
    padding: 5px;
    width: 300px;
    margin: 50px 0;         
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;    
}

.blue span {
  background-color: #34c2e3;   
}

.red span {
  background-color: #FF0000;   
}

.orange span {
    background-color: #fecf23;
    background-image: linear-gradient(top, #fecf23, #fd9215);  
}   

.green span {
    background-color: #a5df41;
    background-image: linear-gradient(top, #a5df41, #4ca916);  
}

.stripes span {
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                      transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                      transparent 75%, transparent);            
  
  animation: animate-stripes 3s linear infinite;             
}

@keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.shine span {
  position: relative;
}

.shine span::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  border-radius: 3px;
  animation: animate-shine 2s ease-out infinite;             
}

@keyframes animate-shine {
  0% {opacity: 0; width: 0;}
  50% {opacity: .5;}
  100% {opacity: 0; width: 95%;}
}