
@import "~bootstrap/scss/bootstrap";
@import "bootstrap";
/* update your 'styles.css' with */
@import '~bootstrap/dist/css/bootstrap.css';


body {
  // background-color: #f39f86;
  // background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
} 

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.button{
  margin-top: -2.7em;
  margin-left: 6.5em;
}
.icon{
  width: 50px;
  height: 50px;
}

ion-title{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
}

.icons{
  margin-left: 15%;
  margin-top: 10%;
  width: 90px;
  height: 90px;
 
}

.data{
  font-size: 30px;
  font-weight: 400;
  text-align: right;
  font-family:  Tahoma, Helvetica, Arial, Sans-Serif;
  margin-bottom: 1em;

  
}


  
  ion-tab-button{
    font-size: 15px;
  --background-focused: #4169E1;
  --color-selected: #4169E1;
  --padding-end: 0px;
  --padding-start: 10px;
  --padding-bottom: 0px;
  --margin-left:0px;
  --margin-right:0px;
  }
  
  ion-tab-button:focus {
    ion-icon, ion-label {
        color: var(--ion-color-primary) !important;
        --ion-color-base: var(--ion-color-primary) !important;
    }
  }

  

*{ 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }


  // .container {
  //   background:rgba(2, 60, 117, 0.5);
  //   border-radius: 5px;
  //   box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
  //   width:409px;
  //   display: flex;  
  //   flex-direction: column;
  // }
  
  .logo{
    font-family: "museo-slab";  
    font-size:20px;
    text-align: center;
    padding: 20px 20px 0;
    margin:0;
  }
  
  .register-item {
    color: #ffff;
    // padding:25px 25px 0;
    // margin: 20px 20px 0;	
    border-radius: 3px;
  }
  
  input {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
  }
  
  .user:before {
    content: '\f007';
    font: 14px fontawesome;
    color: #5b5b5b;
  }
  
  .lock:before {
    content: '\f023';
    font: 14px fontawesome;
    color: #5b5b5b;
  }
  
  .form input[type="password"], .form input[type="email"], .form input[type="submit"] {
    width: 100%;
  }
  
  .form-register label,
  .form-register input[type="email"],
  .form-register input[type="password"],
  .form-register input[type="submit"] {
    border-radius: 0.25rem;
    padding: 1rem;
    color: #3A3F44;  
  }
  
  .form-register label {
    background-color: #222222;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  
  .form-register input[type="email"], .form-register input[type="password"] {
    background-color: #eee;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    
  }
  .form-register input[type="email"]:focus, .form-register input[type="email"]:hover, .form-register input[type="password"]:focus, .form-register input[type="password"]:hover {
    background-color: #eeeeee;
  }
  .form-register input[type="submit"] {
    background-color: red;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 1rem;

  }
  .form-register input[type="submit"]:focus, .form-register input[type="submit"]:hover {
    background-color: #120a2e;
  }
  .form-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
  }
  
  
  .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .text--center {
    text-align: center;
  }

  
  
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10em;
    margin-left: 1.5em;
    height: 250px;
  
  }
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
 

  