<ion-header>
  <ion-toolbar>
    <ion-title>
        Administrare camere
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
 

  <ion-card class="welcome-card"> <img src="/assets/rooms.jpg" alt="" />  
  </ion-card>


  
   
  <div class="test">Usa: {{usaIntrare}}</div>

  <button ion-button full (click)="play()">Play</button>

  play()




 

</ion-content>

<ion-tab-bar  >
  <ion-tab-button routerLink="/bedroom" routerDirection="forward" >Dormitor </ion-tab-button>
  <ion-tab-button routerLink="/kitchen" routerDirection="forward" >Bucătărie</ion-tab-button>
  <ion-tab-button routerLink="/bathroom" routerDirection="forward">Baie</ion-tab-button>
  <ion-tab-button routerLink="/welcome" routerDirection="forward"><ion-icon name="grid"></ion-icon></ion-tab-button>
</ion-tab-bar>