<ion-header>
  <ion-toolbar>
    <ion-title>
        Administration SHome
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  
  <ion-card class="welcome-card"> <img src="/assets/smartlogo3.jpg" alt="" />  
  </ion-card>

    <h1>THE ROOMS</h1>
  
   <div><ion-button color="success" shape="round"  expand="full" routerLink="/bedroom" routerDirection="forward">Bedroom</ion-button>  
    <br/>
   <ion-button color="tertiary" shape="round" expand="full" routerLink="/kitchen" routerDirection="forward">Kitchen</ion-button>
    <br/>
   <ion-button color="danger" shape="round" expand="full" routerLink="/bathroom" routerDirection="forward">Bathroom</ion-button>  </div> 
   
</ion-content>

