<ion-header>
  <ion-toolbar>
    <ion-title>Loguri</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <body>

  <div class="ion-padding" >
    <ngx-datatable 
      class="material"
      [limit]="5" 
      [rows]="rows" 
      [rowHeight]="40" 
      [columns]="columns"
      [columnMode]="'flex'" 
      [sortType]="'multi'" 
      [headerHeight]="30" 
      [footerHeight]="40">
    </ngx-datatable>
  </div>

  <div class="col">
    <div class="card card-signin3 my-5">
      <div class="card-body">
        <h6 class="card-title text-center">Stare ușă</h6>
        <form class="form-signin2">
          <hr>
          <img class="icon2" src="/assets/door2.png">

          {{usa}}

        </form>
      </div>
    </div>
</div>



</body>
</ion-content>
<ion-tab-bar  >
  <ion-tab-button routerLink="/rfid" routerDirection="forward" >User </ion-tab-button>
  <ion-tab-button routerLink="/logs" routerDirection="forward" >Loguri</ion-tab-button>
  <ion-tab-button routerLink="/user" routerDirection="forward" >Adauga</ion-tab-button>
  <ion-tab-button routerLink="/welcome" routerDirection="forward"><ion-icon name="grid"></ion-icon></ion-tab-button>
</ion-tab-bar>