<ion-header>
  <ion-toolbar>
    <ion-title>Raspberry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<body>

  <!-- <ion-card class="card-img" >
    <img src="/assets/net.png" /> 
  </ion-card> -->
 
<div class="container">
<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <form class="form-signin">
        
          
    
          <img src="/assets/ip.png" />{{ip4}}
          <hr>

          <img src="/assets/ram.png" /> {{free}} MB
          <hr>
          <img src="/assets/ram2.png" /> {{used}} MB
          <hr>
          <img src="/assets/cpu.png" />  {{temp}}°C 
          
         
          <!-- <hr class="my-4">
          <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
          <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> -->
        </form>
      </div>
    </div>
  </div>
</div>
</div>





</body>
</ion-content>

<ion-tab-bar  >
  <ion-tab-button routerLink="/raspi" routerDirection="forward" >Raspberry </ion-tab-button>
  <ion-tab-button routerLink="/welcome" routerDirection="forward"><ion-icon name="grid"></ion-icon></ion-tab-button>
</ion-tab-bar>