<ion-header>
  <ion-toolbar>
    <ion-title>raspi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<body>

hostname: {{hostname}}
<hr>
platform: {{platform}}
<hr>
ip4 : {{ip4}}
<hr>
speed: {{speed}}
<hr>
dhcp: {{dhcp}}
<hr>
mem free: {{free}}
<hr>
currentSyste: {{currentSystem}}
<hr>
local address: {{localaddress}}
<hr>
local port: {{localport}}
</body>
</ion-content>

<ion-tab-bar  >
  <ion-tab-button routerLink="/raspi" routerDirection="forward" >Network </ion-tab-button>
  <ion-tab-button routerLink="/raspi" routerDirection="forward" >Storge</ion-tab-button>
  <ion-tab-button routerLink="/raspi" routerDirection="forward" >Server</ion-tab-button>
  <ion-tab-button routerLink="/welcome" routerDirection="forward"><ion-icon name="grid"></ion-icon></ion-tab-button>
</ion-tab-bar>