<ion-header>
  <ion-toolbar>
    <ion-title>Bedroom</ion-title>
  </ion-toolbar>
</ion-header>




  <div class="test">
    <span class="badge badge-primary">Humidity</span>

    <div class="progress-bar blue stripes">
      <span role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></span>
    </div>

    <span class="badge badge-danger">Temperature</span>
    <div class="progress-bar red stripes ">
      <span style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></span>
    </div>
  </div>









  <div class="d-flex align-items-end" style="height: 100%;">
    <div class="row">
      <div class="col-6">
        <div class="border" class="border p-3">  <div href="" class="cube-switch">
            <span class="switch">
                <span class="switch-state off">Off</span>
                <span class="switch-state on">On</span>
            </span>
      </div>
      </div>
      </div>

      <div class="col-6">
        <div class="border" class="border  p-3">
            <div id="light-bulb" class="off ui-draggable" ><div id="light-bulb2" style="opacity: 0; "></div></div></div>
      </div>
    </div>
  </div>
  



  <!-- <div class="light">
    <img src="/assets/On.png">
  </div> -->
