<ion-header>
    <ion-toolbar>
        <ion-title>Control Acces</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <body>
    <ion-card class="card-img">
        <img src="/assets/sec.png"/>
    </ion-card>
    <div class="ion-padding">
        <ngx-datatable
                class="material"
                [limit]="4"
                [rows]="rows"
                [rowHeight]="40"
                [columns]="columns"
                [columnMode]="'force'"
                [sortType]="'multi'"
                [headerHeight]="40"
                [footerHeight]="40">
        </ngx-datatable>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <form class="form-signin">
                            <div class="register-item">
                                <form #f="ngForm" (ngSubmit)="delete(f.value)" class="form form-register">
                                    <div class="form-field">
                                        <label class="user"><span class="hidden">Unique identifier</span></label>
                                        <input name="uid" id="uid" type="email" class="form-input"
                                               placeholder="Unique identifier" ngModel required>
                                    </div>
                                    <div class="form-field2">
                                        <input type="submit" value="Delete">
                                    </div>
                                </form>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
</ion-content>


<ion-tab-bar>
    <ion-tab-button routerLink="/rfid" routerDirection="forward">User</ion-tab-button>
    <ion-tab-button routerLink="/logs" routerDirection="forward">Loguri</ion-tab-button>
    <ion-tab-button routerLink="/user" routerDirection="forward">Adauga</ion-tab-button>
    <ion-tab-button routerLink="/welcome" routerDirection="forward">
        <ion-icon name="grid"></ion-icon>
    </ion-tab-button>
</ion-tab-bar>
